<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans.xsd   
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop  
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/data/mongo   
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd  
        ">
	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven />
	<!-- 这里配置后就不用再使用bean标签配置bean了 -->
	<context:annotation-config />
	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="com.cros.block" />

	<!-- 获取配置资源 -->
	<context:property-placeholder location="classpath:mongodb.properties" />
	<!-- 定义mongo对象，对应的是mongodb官方jar包中的Mongo，replica-set设置集群副本的ip地址和端口 -->
	<mongo:mongo-client id="mongo" host="${mongo.host}"
		port="${mongo.port}">
		<mongo:client-options connections-per-host="${mongo.connectionsPerHost}"
			min-connections-per-host="${mongo.minConnectionsPerHost}"
			threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
			connect-timeout="${mongo.connectTimeout}" max-wait-time="${mongo.maxWaitTime}"
			socket-keep-alive="${mongo.socketKeepAlive}" socket-timeout="${mongo.socketTimeout}"
			description="${mongo.description}" max-connection-idle-time="${mongo.maxConnectionIdleTime}"
			max-connection-life-time="${mongo.maxConnectionLifeTime}"
			heartbeat-socket-timeout="${mongo.heartbeatSocketTimeout}"
			heartbeat-connect-timeout="${mongo.heartbeatConnectTimeout}"
			min-heartbeat-frequency="${mongo.minHeartbeatFrequency}"
			heartbeat-frequency="${mongo.heartbeatFrequency}" />
	</mongo:mongo-client>
	<mongo:db-factory dbname="crosblock" mongo-ref="mongo" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>


	<bean id="SpringQtzJob" class="com.cros.block.quartz.CrosBlockChainScheduledJob" />
	<bean id="SpringQtzJobMethod"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">  <!-- 要执行的方法名称 -->
			<value>execute</value>
		</property>
	</bean>

	<!-- ======================== 调度触发器 ======================== -->
	<bean id="CronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="SpringQtzJobMethod"></property>
		<property name="cronExpression" value="0 0/2 * * * ?"></property>
	</bean>
	
	<!-- ======================== 调度工厂 ======================== -->
	<bean id="SpringJobSchedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="CronTriggerBean" />
			</list>
		</property>
	</bean>
	
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">  
	    <!-- 核心线程数 -->  
	    <property name="corePoolSize" value="10" />  
	    <!-- 最大线程数 -->  
	    <property name="maxPoolSize" value="100" />  
	    <!-- 队列最大长度 >=mainExecutor.maxSize -->  
	    <property name="queueCapacity" value="1000" />  
	    <!-- 线程池维护线程所允许的空闲时间 -->  
	    <property name="keepAliveSeconds" value="300" />  
	    <!-- 线程池对拒绝任务(无线程可用)的处理策略 -->  
	    <property name="rejectedExecutionHandler">  
       	 <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />  
    	</property>  
	 </bean>
</beans>   