<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 自动扫描该包，使springmvc下认为包下用了@Controller注解的类 -->
	<context:component-scan base-package="com.cros.block.controller" />
	<mvc:resources location="/static/" mapping="/static/**" />
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
				<bean class="com.cros.block.interceptor.UrlInjectIntercepter" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/auth/menu" />
			<mvc:mapping path="/log/*" />
			<mvc:mapping path="/role/*" />
			<mvc:mapping path="/user/*" />
			<mvc:exclude-mapping path="/" /> 
				<bean class="com.cros.block.interceptor.SystemSessionInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>



	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	
	 <bean id="SpringContextUtil" class="com.cros.block.util.SpringContextUtil" scope="singleton"/> 
	
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">

		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<mvc:view-controller path="/"  view-name="forward:/page/user" />


	

</beans>